<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ META.project_name }} | The Texas Tribune</title>
  <meta name="description" content="{{ META.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
</head>
<body>

<div id="graphic" class="graphic">

{% for candidate in DATA %}
  {% if candidate.META != "" %}
  <div class="candidate-card">
    <div class="card-header">
    <h3 class="candidate-name">{{ candidate.META.candidate_name }}</h3>
      <div class="img-box">
        {% if candidate.META.photo_slug != " " %}
        <img src="images/{{ candidate.META.photo_slug }}.jpg">
        {% else %}
        <img src="images/chrisChristie.gif">
        {% endif %}
      </div>
      <div class="map-box">
        <img src="{{ candidate.META.mapbox }}">
      </div>

    </div>
    <div class="connection-table">
      {% for connection in candidate.CONNECTIONS %}
        <div class="connection-item prose">
          <p class="city"><span class="title">City:</span>{{ connection.connection_city }}</p>
          <p class="connection-type"><span class="title">Connection:</span>{{ connection.connection_type }}</p>
          <p class="connection-text">{{ connection.connection_text }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  <hr>
{% endfor %}
<p class="sources"><em>Photo Credits: World Affairs Council of Philadelphia, Bob Daemmrich, imgur, Gage Skidmore, Edward Kimmel, Marjorie Kamys Cotera</em></p>


</div>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({app,.tmp}) scripts/main.js -->
<script src="scripts/main.js"></script>
<script src="scripts/pymload.js"></script>
<!-- endbuild -->

</body>
</html>
