<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ META.project_name }} | The Texas Tribune</title>
  <meta name="description" content="{{ META.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body>

<div id="graphic" class="graphic">

<div class="candidate-card">
  <div class="card-header">
    <img class="img-box" src="http://s3.amazonaws.com/static.texastribune.org/media/images/2013/02/25/JebBush-2.jpg">
    <h3 class="candidate-name prose">Name Namerson</h3>
    <p class="candidate-description prose">Description n things. Who is Name Namerson.</p>
  </div>
    <div class="connection-table">
      <h5>Connection</h5>
      <table>
        <thead>
          <tr>
            <th>City</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-title="City">Austin</td>
            <td data-title="Type">Campaign</td>
            <td data-title="Acting Chamber">Blah blah Namerson loves Austin</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

  {% for candidate in data %}
    <h3>{{ candidate.META.candidate_name }}</h3>
    <p>{{ candidate.META.description }}</p>
  {% endfor %}

</div>

<footer>
  <div>Source{{ 's' if sources.length > 1 else '' }}: {% for source in sources %}<a href="{{ source.url }}" target="_blank">{{ source.name }}</a> {% if not loop.last %} | {% endif %}{% endfor %}</div>
  <div>Produced by {% for author in authors %}<a href="{{ author.url }}">{{ author.name }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</div>
</footer>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({app,.tmp}) scripts/main.js -->
<script src="scripts/main.js"></script>
<script src="scripts/pymload.js"></script>
<!-- endbuild -->

</body>
</html>
