.graphic{
  @include outer-container();
}

.candidate-card{
  @include span-columns(12);
  margin: 1em;
  h3{
    margin-top: 0;
  }
}

.candidate-name{
  @include span-columns(12);
}

.img-box{
  width:53%;
  float:left;
  height:200px;
  img{
    width: 100%;
  }
}

.map-box{
  width:45%;
  float:right;
  height:200px;
  overflow:hidden;
  img{
    width: 100%;
  }
}

.card-header{
  padding-top: 10px;
}

.connection-table{
  @include span-columns(12);
}

.connection-item{
  margin: 2em 0;
  .city{
    font-weight: 700;
  }
  p{
    font-family: $helvetica;
  }
  h4{
    margin:0;
  }
  .connection-text{
    margin:.7em 0;
  }
}

hr {
  background-color: $tribune-yellow;
  color: $tribune-yellow;
  border: 1px solid $tribune-yellow;
  height: .5px;
  margin-bottom: .5em;
}
