// .graphic{
//   @include outer-container();
// }

.candidate-card{
  @include span-columns(12);
  h3{
    margin: 0 0 .5em 0;
  }
}

.candidate-name{
  @include span-columns(12);
}

$imgmap-bp: new-breakpoint(min-width 550px);

.img-box{
  width:100%;
  @include media($imgmap-bp){
    width:55%;
    float:left;
  }
  img{
    width: 100%;
  }
  .caption{
    color:#666;
    font-size:.8em;
    margin:.25em 0;
  }
}

.map-box{
  display:none;
  @include media($imgmap-bp){
    width:43%;
    float:right;
    display:block;
  }
  img{
    width: 100%;
  }
}

.card-header{
  padding-top: 10px;
}

.connection-table{
  @include span-columns(12);
}

.connection-item{
  margin: 1em 0 2em 0;
  padding: 0;
  .city{
    font-weight: 700;
  }
  p{
    font-family: $helvetica;
  }
  h4{
    margin:0;
  }
  .connection-text{
    margin:.7em 0;
    font-weight: 400;
  }
}

hr {
  background-color: $tribune-yellow;
  color: $tribune-yellow;
  border: 1px solid $tribune-yellow;
  height: .5px;
  margin-bottom: .5em;
}
